@using Microsoft.AspNetCore.Http

@model DataAccess.Models.Member

@if (@Context.Session.GetInt32("role") == 1)
{
    {
        ViewData["Title"] = "Details";
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}
else
{

    {
        ViewData["Title"] = "Details";
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
}


<h1>Details</h1>

<h3 style="color: green">@TempData["complete"]</h3>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemberId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>

    @if (@Context.Session.GetInt32("role") == 1)
    {
        <a asp-action="Index">Back to List</a>
    }
    | @Html.ActionLink("Edit", "Edit", new { id = Model.MemberId }) 
    


</div>
